.kaufman__triangle {
  position: absolute;
  top: 0;
  right: -210px;
  /* width: 100%;
  background: url(../../../images/kaufman-triangle.svg) no-repeat;
  height: 100%;
  background-position: right -210px top 0; */
}
