.khan__buy-link {
  display: inline-block;
  font-size: 30px;
  line-height: 42px;
  font-weight: normal;
  color: #2F80ED;
  text-decoration: none;
  transition: .2s;
}

.khan__buy-link:hover {
  opacity: .6;
}
